# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
/build/
/dist/

# Ignore environment files
.env

.history
.vs
.vscode
